In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('DataSet/Dhaka Rent.csv')

In [3]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [4]:
df.head(7)

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100
5  1900  32500
6  1500  20000

In [5]:
df.tail()

    area   rent
55  3100  54000
56  2750  48500
57  1800  25100
58  2200  31560
59  3100  51600

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   area    60 non-null     int64
 1   rent    60 non-null     int64
dtypes: int64(2)
memory usage: 1.1 KB

In [ ]:
df = pd.read_excel('C:\\Users\\Study Mart\\Desktop\\New folder\\Dhaka Rent.xlsx')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
plt.scatter(df['area'], df['rent'])

In [ ]:
#!pip install pandas

In [ ]:
#!pip install sklearn

In [ ]:
plt.scatter(df.area, df.rent, color='green', marker='*')

In [ ]:
plt.scatter(df.area, df.rent, color='green', marker='*')
plt.xlabel('Area in Square feet',color='black')
plt.ylabel('Rent in BDT',color='#800000')
plt.title('Rent Plot', color='green')

In [ ]:
plt.scatter(df.area, df.rent, color='green', marker='+')
plt.xlabel('Area in Square feet')
plt.ylabel('Rent in BDT')
plt.title('Rent Plot')

In [ ]:
df.area.mean()

In [ ]:
df.rent.mean()

# Seperate dependent and independend variable

In [ ]:
df.head()

In [ ]:
#x = df['area']
x = df[['area']] # x = df.drop('rent', axis=1)

In [ ]:
y = df['rent']

In [ ]:
x.head()

In [ ]:
y.head()

In [ ]:
df.shape

# split the dataset

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# train = 70%
# test = 30%
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=.30) # train_size=.70

In [ ]:
xtrain.head()

In [ ]:
xtest.head()

In [ ]:
xtrain.shape # 70%

In [ ]:
xtest.shape # 30%

# Linear Regression

In [ ]:
# https://scikit-learn.org/stable
from sklearn.linear_model import LinearRegression

In [ ]:
reg = LinearRegression()

In [ ]:
reg.fit(xtrain, ytrain)  #taining the model

In [ ]:
reg.predict([[2000]]) # xtrain, ytrain

In [ ]:
xtrain.head(2)

In [ ]:
ytrain.head(2)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
reg.predict([[2000]])

In [ ]:
ytest.head()

In [ ]:
ypred = reg.predict(xtest)
ypred

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mse = mean_squared_error(ytest, ypred)

In [ ]:
mse

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mae = mean_absolute_error(ytest, ypred)

In [ ]:
mae

In [ ]:
m = reg.coef_

In [ ]:
m

In [ ]:
c= reg.intercept_

In [ ]:
c

In [ ]:
# y = (m * x)+c
result = m*2000+c
result

In [ ]:
reg.predict([[2000]])

In [ ]:
#Best fit line
plt.plot(xtest, reg.predict(xtest))

In [ ]:
pred = reg.predict(xtest)
#Best fit line
plt.plot(xtest, pred)

In [ ]:
#Best fit line
plt.plot(df.area , reg.predict(df[['area']]))

In [ ]:
plt.scatter(df.area, df.rent, color='green', marker='+')
plt.xlabel('Area in Square feet')
plt.ylabel('Rent in BDT')
plt.title('Rent Plot')
plt.plot(df.area , reg.predict(df[['area']]), color='red') # best fit

In [ ]:
xtrain.head()

In [ ]:
xtrain.to_csv('x2.csv')

In [ ]:
x2 = pd.read_csv('x2.csv')

In [ ]:
x2.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
x2.head()

In [ ]:
reg.predict(x2)

In [ ]:
reg.score(xtest, ytest) # testing accuracy

In [ ]:
reg.score(xtrain, ytrain) # training accuracy

In [ ]:
pred = reg.predict(xtest)
#Best fit line
plt.plot(xtest, pred)

In [ ]:
pred = reg.predict(xtest)
#Best fit line
plt.plot(np.squeeze(xtest), pred)