### Basic Python

In [1]:
print("Hello World")

Hello World

In [2]:
print(100)

100

In [3]:
type("Hello World")

str

In [4]:
print("Hello Word","Hello World",sep=' | ',end=' \ ')
print("Hello World")

Hello Word | Hello World \ Hello World

In [5]:
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World

In [6]:
print("Hello Word","Hello World",sep=' | ',end=' ')
print("Hello World")

Hello Word | Hello World Hello World

### variable

In [7]:
'''
Variables are like a container to storing data.
▪ Compare to other programming languages, Python has no command for declaring a variable.
▪ A variable is created the moment you first assign a value to it.
'''

'\nVariables are like a container to storing data.\n▪ Compare to other programming languages, Python has no command for declaring a variable.\n▪ A variable is created the moment you first assign a value to it.\n'

In [8]:
'''
A variable can have a short name (like x and y) or a more descriptive name.
▪ Keywords can’t use as a variable.
▪ A variable name must start with a letter or the underscore ( _ ) character.
▪ A variable name cannot start with a number.
▪ A variable name can only contain alpha-numeric characters and underscores (A-Z, 0-9, and _ ).
▪ Variable names are case-sensitive (x, X, _x are three different variable).git/
'''

'\nA variable can have a short name (like x and y) or a more descriptive name.\n▪ Keywords can’t use as a variable.\n▪ A variable name must start with a letter or the underscore ( _ ) character.\n▪ A variable name cannot start with a number.\n▪ A variable name can only contain alpha-numeric characters and underscores (A-Z, 0-9, and _ ).\n▪ Variable names are case-sensitive (x, X, _x are three different variable).git/\n'

In [9]:
'''
Valid Example:
Var = 10
Var2 = 100
_var = 20
Var_2 = 10
V1a2r3 = 30
My_name = ‘shakil’

Invalid Example:
9Var = ‘data science’
Var-2 = ‘study mart’
&var = 20
My name = ‘shakil’
'''

'\nValid Example:\nVar = 10\nVar2 = 100\n_var = 20\nVar_2 = 10\nV1a2r3 = 30\nMy_name = ‘shakil’\n\nInvalid Example:\n9Var = ‘data science’\nVar-2 = ‘study mart’\n&var = 20\nMy name = ‘shakil’\n'

In [10]:
'''
Multiple Variables:
▪ x, y, z = “Data", “Science", “Smart“ -> Valid

▪ x, y, z = “Data", “Science“ -> Invalid
All about Python Variables

▪ Comments:

▪ Single Line
▪ Multiple Line
'''

'\nMultiple Variables:\n▪ x, y, z = “Data", “Science", “Smart“ -> Valid\n\n▪ x, y, z = “Data", “Science“ -> Invalid\nAll about Python Variables\n\n▪ Comments:\n\n▪ Single Line\n▪ Multiple Line\n'

In [11]:
'''
Multi Word Variable Name
▪ camelCaseVar
▪ PascalCaseVar
▪ snake_case_var
'''

'\nMulti Word Variable Name\n▪ camelCaseVar\n▪ PascalCaseVar\n▪ snake_case_var\n'

### valid variable

In [12]:
var=100

In [13]:
print(var)

100

In [14]:
var="data science"
var

'data science'

In [15]:
var=10
print(var)

10

In [16]:
var2=100
print(var2)

100

In [17]:
_var=20
print(_var)

20

In [18]:
var_2=10
print(var_2)

10

In [19]:
v1a2rc=30
print(v1a2rc)

30

In [20]:
my_name="Hamid Hosen"
print(my_name)

Hamid Hosen

### invalid variable

In [21]:
9var="hamid hosen"
print(9var)

SyntaxError: invalid syntax (531981437.py, line 1)

In [22]:
var-2="Hamid Hosen"
print(var-2)

SyntaxError: cannot assign to operator (2312105829.py, line 1)

In [23]:
&var=20
print(&var)

SyntaxError: invalid syntax (431511653.py, line 1)

In [24]:
my name="Hamid Hosen"
print(my name)

SyntaxError: invalid syntax (847765992.py, line 1)

In [25]:
'''
** Multiple Variables:
▪ x, y, z = “Data", “Science", “Smart“ -> Valid

▪ x, y, z = “Data", “Science“ -> Invalid
'''

'\n** Multiple Variables:\n▪ x, y, z = “Data", “Science", “Smart“ -> Valid\n\n▪ x, y, z = “Data", “Science“ -> Invalid\n'

In [26]:
x,y,z=10,12,13
print(x,y,z)

10 12 13

In [27]:
a,b,c=10,12
print(a,b,c)

ValueError: not enough values to unpack (expected 3, got 2)

In [28]:
'''
Global Variable: Variables that are created outside of a function are known as global variables. Global
variables can be used by everyone, both inside of functions and outside.
▪ Local Variable: Variables that are created inside of a function are known as local variables. local
variables can be used by inside of function.
'''

'\nGlobal Variable: Variables that are created outside of a function are known as global variables. Global\nvariables can be used by everyone, both inside of functions and outside.\n▪ Local Variable: Variables that are created inside of a function are known as local variables. local\nvariables can be used by inside of function.\n'

### Global and local

In [29]:
x=100

def myFunction():
    print("This is 1:",x)

myFunction()
print("This is 2:",x)

This is 1: 100
This is 2: 100

In [30]:
def myFunction():
    d=100
    print("This is 1:",d)

myFunction()
print("This is 2:",d)

This is 1: 100

NameError: name 'd' is not defined

In [31]:
def myFunction():
    global d
    d=100
    print("This is 1:",d)

myFunction()
print("This is 2:",d)

This is 1: 100
This is 2: 100

**All about Python Strings**

In [32]:
a="Hamid Hosen"
a

'Hamid Hosen'

In [33]:
len(a)

11

In [34]:
a.lower()

'hamid hosen'

In [35]:
a.upper()

'HAMID HOSEN'

In [36]:
a.strip()

'Hamid Hosen'

In [37]:
a.split()

['Hamid', 'Hosen']

In [38]:
a.replace("Hamid","Azad")

'Azad Hosen'

In [39]:
a

'Hamid Hosen'

In [40]:
# let us create a test string

testString1 ="Hello World!"
print ("Original String: "+ testString1)

Original String: Hello World!

In [41]:
# Print this string in lower case

# Converting a string to lower case
print("Converting to LowerCase")
print (testString1.lower())

Converting to LowerCase
hello world!

In [42]:
txt = "this is a wild string"

print(txt.replace("i", "x"))  # print string with all i characters replaced with x
print(txt.replace("i", "x", 2))  # print string with first two i characters found with x
print(txt.upper())  # print string in all uppercase letters
print(txt.lower())  # print string in all uppercase letters

print(ord('A'))  # print the ordinal value of a character
print(chr(95))  # print character from its ordinal value
print('Yes' * 5) # print string Yes 5 times

# Reference strings by index
print(txt[0])  # print first letter of string from starting index
print(txt[0:2])  # print first two letters from starting index
print(txt[1:])  # print all characters except the first letter
print(txt[0::2])  # print every second character
print(txt[::-1])  # print string in reverse
print(txt[-1])  # print the last character in a string
print(txt[-2:])  # print the last who characters in a string

# check if a wild is found in txt
if "wild" in txt:
  print("wild is found in txt")

# check if a blah is not found in txt
if "blah" not in txt:
  print("is not found in txt")

# Check if txt starts with this
if txt.startswith("this"):
  print("Starts with this")

# check if txt ends with ing
if txt.endswith("ing"):
  print("Ends with ing")

# Split a string into a tuple when the delimiter is first encountered
txt = 'random-data'

data_split = txt.partition('-')
print(data_split)
# output ('random', '-', 'data')

len(txt)  # Return length of string

# loop through each character in string
for char in txt:
  print(char)

# Display price with commas and 2 digit precision
price = 9749000
display_price = f"My price {price:,.2f}"
print(display_price)

thxs xs a wxld strxng
thxs xs a wild string
THIS IS A WILD STRING
this is a wild string
65
_
YesYesYesYesYes
t
th
his is a wild string
ti sawl tig
gnirts dliw a si siht
g
ng
wild is found in txt
is not found in txt
Starts with this
Ends with ing
('random', '-', 'data')
r
a
n
d
o
m
-
d
a
t
a
My price 9,749,000.00

# Condition: if, elif, else

Python supports the usual logical conditions from mathematics:

▪ Equals: a == b
▪ Not Equals: a != b
▪ Greater than: a > b
▪ Greater than or equal to: a >= b
▪ Less than: a < b
▪ Less than or equal to: a <= b

In [43]:
x = 50
y = 100

if y > x:
    print("y is greater than x")
elif x == y:
    print("x and y are equal")
else:
    print("x is y greater than y ")

y is greater than x

# Python Indentation Rules

![Python Indentation Rules](image/1-python_Indentation.png)

In [44]:
x=10
y=200

if(x>y):
    print("No")
elif (x==y):
    print("Okey")
elif (x<y):
    print("Sabbas")
    if x!=10:
        print("Sabbas")
    else:
        print("Okey")
else:
    print("Done")

Sabbas
Okey

In [45]:
num1=int(input("Enter your number1:")) #10
num2=int(input("Enter your number2:")) #100

if(num1==num2):
    print("Equal num1 and num2")
if(num1!=num2):
    print("Num1 is not Equal num1 and num2")
if(num1>num2):
    print("Num1 is Grater than num2")
if(num1>=num2):
    print("Num1 is Greater than or equal Num2")
if(num1<num2):
    print("Num1 is  Less than Num2")
if(num1<=num2):
    print("Num1 is Less than or equal Num2")

Enter your number1:10
Enter your number2:100
Num1 is not Equal num1 and num2
Num1 is  Less than Num2
Num1 is Less than or equal Num2

In [49]:
num1=int(input("Enter your number1:"))#10
num2=int(input("Enter your number2:"))#100

if(num1 >num2 ):
    print("num1 is greater than num2")
elif (num1 == num2):
    print("num1 and num2")
else:
    print("num2 is greater than num1")

Enter your number1:10
Enter your number2:100
num2 is greater than num1

### Loop

![for loop](image/2-for_loop.png)

In [50]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [51]:
x=['abc','def','fds']

for y in range(len(x)):
    print(x[y],y)

abc 0
def 1
fds 2

In [52]:
subjects = ["ai", "data science", "statistics", "math"]
for x in subjects :
    print(x)

ai
data science
statistics
math

In [53]:
i=1

while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [54]:
li=[10,20,30,40,50]
for i in li:
    print(i)

10
20
30
40
50

In [55]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [56]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [57]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry