# Data Structures in Python

### List

1. Order
2. Changeable
3. Allow Duplicates

In [1]:
l1=['data','science',1,2,3,4,5,True,False,[1,2,4,5]]

In [2]:
l1

['data', 'science', 1, 2, 3, 4, 5, True, False, [1, 2, 4, 5]]

In [3]:
import sys
sys.getsizeof(l1)

136

In [4]:
t1=('data','science',1,2,3,4,5,True,False,[1,2,4,5])

In [5]:
sys.getsizeof(t1)

120

In [6]:
t1

('data', 'science', 1, 2, 3, 4, 5, True, False, [1, 2, 4, 5])

In [7]:
t1[-1][3]

5

In [8]:
t1[-1]

[1, 2, 4, 5]

In [9]:
l1[-1][3]

5

In [10]:
l1[-1]

[1, 2, 4, 5]

In [11]:
l1[0]="science"

In [12]:
l1

['science', 'science', 1, 2, 3, 4, 5, True, False, [1, 2, 4, 5]]

In [13]:
t1[0]="science"

TypeError: 'tuple' object does not support item assignment

In [ ]:
l1[2]

colon means 2 to 6

In [14]:
l1[2:6]

[1, 2, 3, 4]

In [15]:
l1[-2]

False

In [16]:
string ='data science'

In [17]:
string.split()

['data', 'science']

In [18]:
for i in range(len(string)):
    print(string[i],i)

d 0
a 1
t 2
a 3
  4
s 5
c 6
i 7
e 8
n 9
c 10
e 11

In [19]:
data=string.split()

In [20]:
for i in range(len(data)):
    print(data[i],i)

data 0
science 1

In [21]:
l1

['science', 'science', 1, 2, 3, 4, 5, True, False, [1, 2, 4, 5]]

In [22]:
l1.append("Hamid Hosen")

In [23]:
l1

['science', 'science', 1, 2, 3, 4, 5, True, False, [1, 2, 4, 5], 'Hamid Hosen']

In [24]:
l1.insert(3,'teacher')

In [25]:
l1

['science',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 5,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [26]:
l1.index("teacher")

3

In [27]:
l1

['science',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 5,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [28]:
l2=l1

In [29]:
l2

['science',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 5,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [30]:
l2.remove(1)

In [31]:
l2

['science',
 'science',
 'teacher',
 2,
 3,
 4,
 5,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [32]:
l1

['science',
 'science',
 'teacher',
 2,
 3,
 4,
 5,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [33]:
id(l1)

1760974886400

In [34]:
id(l2)

1760974886400

In [35]:
l3=l2.copy()

In [36]:
l2

['science',
 'science',
 'teacher',
 2,
 3,
 4,
 5,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [37]:
l3

['science',
 'science',
 'teacher',
 2,
 3,
 4,
 5,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [38]:
l3.pop(-2)

[1, 2, 4, 5]

In [39]:
l3

['science', 'science', 'teacher', 2, 3, 4, 5, True, False, 'Hamid Hosen']

In [40]:
l2

['science',
 'science',
 'teacher',
 2,
 3,
 4,
 5,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [41]:
l2.remove('science')

In [42]:
l2

['science', 'teacher', 2, 3, 4, 5, True, False, [1, 2, 4, 5], 'Hamid Hosen']

In [43]:
l2.remove('science')

In [44]:
l2

['teacher', 2, 3, 4, 5, True, False, [1, 2, 4, 5], 'Hamid Hosen']

positive 0 -> n-1 ; negative -1 to n

In [45]:
del l2[8]

In [46]:
l2

['teacher', 2, 3, 4, 5, True, False, [1, 2, 4, 5]]

In [47]:
l4=[2,1,4,3,67,3,4,10,9]

In [48]:
l4.sort()

In [49]:
l4

[1, 2, 3, 3, 4, 4, 9, 10, 67]

In [50]:
l4.reverse()

In [51]:
l4

[67, 10, 9, 4, 4, 3, 3, 2, 1]

In [52]:
l4.count(4)

2

In [53]:
l4.clear()

In [54]:
l4

[]

In [55]:
l4=[2,1,4,3,67,3,4,10,9]

In [56]:
sum=0
for i in l4:
    sum+=i;
print(sum)

103

## input function

In [57]:
100+20

120

In [58]:
x=20
y=40
x+y

60

In [59]:
x*y

800

In [60]:
y/x #divison

2.0

In [61]:
y%x #modulus

0

In [62]:
num1=input()
num2=input()

num1+num2

23
23

'2323'

In [63]:
num1=input()

23

In [64]:
type(num1)

str

In [65]:
num1=int(input("Enter your first number:"))
num2=int(input("Enter your second number:"))

num1+num2

Enter your first number:12
Enter your second number:34

46

In [66]:
type(num1+num2)

int

list input

In [67]:
list1=[]

num = int(input("enter the number:"))

for i in range(num):
    new_element=input()
    list1.append(new_element)
    print(list1)

enter the number:23
hasda
['hasda']
sda
['hasda', 'sda']
asd
['hasda', 'sda', 'asd']
asas
['hasda', 'sda', 'asd', 'asas']
a
['hasda', 'sda', 'asd', 'asas', 'a']
as
['hasda', 'sda', 'asd', 'asas', 'a', 'as']
d
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd']
f
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f']
a
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a']
d
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd']
ad
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad']
ad
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad']
adsf
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf']
a
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf', 'a']
dsfasd
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf', 'a', 'dsfasd']
fa
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf', 'a', 'dsfasd', 'fa']
aasd
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf', 'a', 'dsfasd', 'fa', 'aasd']
as
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf', 'a', 'dsfasd', 'fa', 'aasd', 'as']
ada
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf', 'a', 'dsfasd', 'fa', 'aasd', 'as', 'ada']
ads
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf', 'a', 'dsfasd', 'fa', 'aasd', 'as', 'ada', 'ads']
asa
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf', 'a', 'dsfasd', 'fa', 'aasd', 'as', 'ada', 'ads', 'asa']
asd
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf', 'a', 'dsfasd', 'fa', 'aasd', 'as', 'ada', 'ads', 'asa', 'asd']
as
['hasda', 'sda', 'asd', 'asas', 'a', 'as', 'd', 'f', 'a', 'd', 'ad', 'ad', 'adsf', 'a', 'dsfasd', 'fa', 'aasd', 'as', 'ada', 'ads', 'asa', 'asd', 'as']

In [68]:
list1

['hasda',
 'sda',
 'asd',
 'asas',
 'a',
 'as',
 'd',
 'f',
 'a',
 'd',
 'ad',
 'ad',
 'adsf',
 'a',
 'dsfasd',
 'fa',
 'aasd',
 'as',
 'ada',
 'ads',
 'asa',
 'asd',
 'as']

In [70]:
list1=[]

num = int(input("enter the number:"))

for i in range(num):
    new_element=int(input())
    list1.append(new_element)
    print(list1)

enter the number:3
1
[1]
2
[1, 2]
3
[1, 2, 3]

In [71]:
list1

[1, 2, 3]

## Tuple in python

In [72]:
#tuple element unchangeblse

In [73]:
tup1=('data science',)

In [74]:
tup1

('data science',)

In [75]:
type(tup1)

tuple

In [76]:
tup1=('data science',"machine learning","AI","deep learning")

In [77]:
tup1

('data science', 'machine learning', 'AI', 'deep learning')

In [78]:
tup1[0]=1

TypeError: 'tuple' object does not support item assignment

In [79]:
# tuple to list
tup2=list(tup1)

In [80]:
tup2

['data science', 'machine learning', 'AI', 'deep learning']

In [81]:
tup2[0]="Hamid Hosen"

In [82]:
tup2

['Hamid Hosen', 'machine learning', 'AI', 'deep learning']

In [83]:
tup1=tuple(tup2)

In [84]:
tup1

('Hamid Hosen', 'machine learning', 'AI', 'deep learning')

In [85]:
type(tup1)

tuple

In [86]:
"AI" in tup1

True

In [87]:
"AI" in tup2

True

In [88]:
10 in tup1

False

In [89]:
del tup1[1]

TypeError: 'tuple' object doesn't support item deletion

In [90]:
tup1.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [91]:
tup1

('Hamid Hosen', 'machine learning', 'AI', 'deep learning')

In [92]:
slic=tup1[1:2]

In [93]:
slic

('machine learning',)

In [94]:
tup1[0:1]

('Hamid Hosen',)

In [95]:
tup1[1:2]+tup1[0:1]+tup1[1:3]

('machine learning', 'Hamid Hosen', 'machine learning', 'AI')

## Set in python

1. Unordered
2. Unchangeable
3. Duplicates Not Allowed

In [96]:
s1={1,2,345,6}
s2={"Hamid Hosen","Azad Hosen","Azad"}

In [97]:
s1

{1, 2, 6, 345}

In [98]:
s2

{'Azad', 'Azad Hosen', 'Hamid Hosen'}

In [99]:
s1[0]=2

TypeError: 'set' object does not support item assignment

In [100]:
s1[0]

TypeError: 'set' object is not subscriptable

In [101]:
s1={1,2,345,6.5,1,2,6}

In [102]:
s1 #remove duplicate

{1, 2, 6, 6.5, 345}

In [103]:
#intersection
s1.intersection(s2)

set()

In [104]:
s2

{'Azad', 'Azad Hosen', 'Hamid Hosen'}

In [105]:
s2={1,2,345,6.5,1,2,6}

In [106]:
#intersection
s1.intersection(s2)

{1, 2, 6, 6.5, 345}

In [107]:
#union
s1.union(s2)

{1, 2, 6, 6.5, 345}

In [108]:
s1 | s2 #union

{1, 2, 6, 6.5, 345}

In [109]:
s1 & s2 #intersection

{1, 2, 6, 6.5, 345}

In [110]:
s1.add(78)

In [111]:
s1

{1, 2, 6, 6.5, 78, 345}

In [112]:
s1.remove(1)

In [113]:
s1

{2, 6, 6.5, 78, 345}

In [114]:
s1.clear()

In [115]:
s1

set()

## All about Python Array[]

In [116]:
import array as arr

In [117]:
array=arr.array('i',[1,2,3,4,5])
array

array('i', [1, 2, 3, 4, 5])

In [118]:
array=arr.array('i',[1,2.2,3,4,5])
array

TypeError: integer argument expected, got float

In [119]:
array=arr.array('d',[1,2,3.5,4,5])
array

array('d', [1.0, 2.0, 3.5, 4.0, 5.0])

In [120]:
array=arr.array('f',[1.01,2.3,3,4,5])
array

array('f', [1.0099999904632568, 2.299999952316284, 3.0, 4.0, 5.0])

In [121]:
array.insert(2,343)

In [122]:
array

array('f', [1.0099999904632568, 2.299999952316284, 343.0, 3.0, 4.0, 5.0])

In [123]:
array.count(3)

1

## All about Python Dictionary{}

In [124]:
D1 = { 'brand': "Apple", "model": "13 Pro Max", "year": 2022}

In [125]:
D1

{'brand': 'Apple', 'model': '13 Pro Max', 'year': 2022}

In [126]:
D1.keys()

dict_keys(['brand', 'model', 'year'])

In [127]:
D1.values()

dict_values(['Apple', '13 Pro Max', 2022])

In [128]:
D1["brand"]="APPO"

In [129]:
D1

{'brand': 'APPO', 'model': '13 Pro Max', 'year': 2022}

In [130]:
D1 = { 'brand': "Apple", "model": "13 Pro Max", "year": 2022,'brand': "Appo"}

In [131]:
D1

{'brand': 'Appo', 'model': '13 Pro Max', 'year': 2022}

In [132]:
D1.popitem()

('year', 2022)

In [133]:
D1

{'brand': 'Appo', 'model': '13 Pro Max'}

In [134]:
D1["Dep"]="CSE"

In [135]:
D1

{'brand': 'Appo', 'model': '13 Pro Max', 'Dep': 'CSE'}

In [136]:
list(D1.keys())

['brand', 'model', 'Dep']

In [137]:
list(D1.values())

['Appo', '13 Pro Max', 'CSE']

In [138]:
set(D1.values())

{'13 Pro Max', 'Appo', 'CSE'}

In [139]:
D1.pop('Dep')

'CSE'

In [140]:
D1

{'brand': 'Appo', 'model': '13 Pro Max'}

## All about Python Data Frame

In [141]:
import pandas as pd

In [142]:
l=['data','science','ai','ml','dl']

In [143]:
df=pd.DataFrame(l)

In [144]:
df

         0
0     data
1  science
2       ai
3       ml
4       dl

In [145]:
df=pd.DataFrame(l,columns=['dept'])

In [146]:
df

      dept
0     data
1  science
2       ai
3       ml
4       dl

In [147]:
df.shape

(5, 1)

In [148]:
row,col=df.shape

In [149]:
row

5

In [150]:
col

1

In [151]:
df1=pd.DataFrame(l,columns=['dept name'])

In [152]:
df1

  dept name
0      data
1   science
2        ai
3        ml
4        dl

In [153]:
df+df1

  dept dept name
0  NaN       NaN
1  NaN       NaN
2  NaN       NaN
3  NaN       NaN
4  NaN       NaN

In [154]:
df2=pd.concat([df,df1])

In [155]:
df2

      dept dept name
0     data       NaN
1  science       NaN
2       ai       NaN
3       ml       NaN
4       dl       NaN
0      NaN      data
1      NaN   science
2      NaN        ai
3      NaN        ml
4      NaN        dl

In [156]:
df1=pd.DataFrame(l)
df2=pd.DataFrame(l)

In [157]:
df=pd.concat([df1,df2],axis=1) # 1 means column, 0 means row

In [158]:
df

         0        0
0     data     data
1  science  science
2       ai       ai
3       ml       ml
4       dl       dl

In [159]:
df.drop([0,2])

         0        0
1  science  science
3       ml       ml
4       dl       dl

In [160]:
df

         0        0
0     data     data
1  science  science
2       ai       ai
3       ml       ml
4       dl       dl

In [161]:
df.drop([0])

         0        0
1  science  science
2       ai       ai
3       ml       ml
4       dl       dl

In [162]:
df.drop([0],axis=1,inplace=True)

In [163]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]