# All about Python DataStructure

![Data Structure](image/3-Data_Stracture.png)

In Python, dictionaries are a Central Data Structure. Dictionaries store an arbitrary number of
objects, each identified by a unique dictionary key. Python has four basic data structures namely -

1. List
2. Tuple
3. Set
4. Dictionary
5. Data Frame

# All about Python List[]

1. Order
2. Changeable
3. Allow Duplicates

In [4]:
l1=['data','science',1,2,5,4,3,True,False,[1,2,4,5]]

In [5]:
l1

['data', 'science', 1, 2, 5, 4, 3, True, False, [1, 2, 4, 5]]

In [6]:
import sys
sys.getsizeof(l1)

136

In [7]:
sys.getsizeof(l1[0])

53

In [8]:
sys.getsizeof(l1[1])

56

In [9]:
sys.getsizeof(l1[2])

28

In [10]:
sys.getsizeof(l1[3])

28

In [11]:
sys.getsizeof(l1[7])

28

In [12]:
sys.getsizeof(l1[8])

24

In [13]:
sys.getsizeof(l1[9])

120

In [14]:
t1=('data','science',1,2,3,4,5,True,False,[1,2,4,5])

In [15]:
sys.getsizeof(t1)

120

In [16]:
t1

('data', 'science', 1, 2, 3, 4, 5, True, False, [1, 2, 4, 5])

In [20]:
t1[-1][-1]

5

In [21]:
t1[-1][-2]

4

In [22]:
t1[-1][3]

5

In [23]:
t1[-1][2]

4

In [24]:
t1[-1]

[1, 2, 4, 5]

In [25]:
l1[-1][3]

5

In [26]:
l1[-1]

[1, 2, 4, 5]

In [27]:
l1[0]="science"

In [28]:
l1

['science', 'science', 1, 2, 5, 4, 3, True, False, [1, 2, 4, 5]]

In [29]:
t1

('data', 'science', 1, 2, 3, 4, 5, True, False, [1, 2, 4, 5])

In [30]:
t1[0]="science" #beacuse tuble not allow changeble

TypeError: 'tuple' object does not support item assignment

In [31]:
l1[2]

1

In [32]:
l1

['science', 'science', 1, 2, 5, 4, 3, True, False, [1, 2, 4, 5]]

In [33]:
l1[2:6] # colon means 2 to 6

[1, 2, 5, 4]

In [34]:
l1[-2]

False

In [35]:
# String
string ='data science'

In [36]:
string.split()

['data', 'science']

In [37]:
print(len(string))

12

In [38]:
for x in range(5):
    print(x)

0
1
2
3
4

In [39]:
x = len(string)

In [42]:
for i in range(x):
    print(string[i],i)

d 0
a 1
t 2
a 3
  4
s 5
c 6
i 7
e 8
n 9
c 10
e 11

In [43]:
data=string.split()

In [44]:
data

['data', 'science']

In [45]:
len(data)

2

In [47]:
for i in range(len(data)):
    print(data[i],i)

data 0
science 1

In [48]:
l1

['science', 'science', 1, 2, 5, 4, 3, True, False, [1, 2, 4, 5]]

In [49]:
l1.append("Hamid Hosen")

In [50]:
l1

['science', 'science', 1, 2, 5, 4, 3, True, False, [1, 2, 4, 5], 'Hamid Hosen']

In [51]:
l1.insert(3,'teacher') # fixed index

In [52]:
l1

['science',
 'science',
 1,
 'teacher',
 2,
 5,
 4,
 3,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [53]:
l1.index("teacher") #index search

3

In [54]:
l1

['science',
 'science',
 1,
 'teacher',
 2,
 5,
 4,
 3,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [55]:
l2=l1

In [56]:
l2

['science',
 'science',
 1,
 'teacher',
 2,
 5,
 4,
 3,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [57]:
id(l1)

2415730709312

In [58]:
id(l2)

2415730709312

In [59]:
l2.remove(1)

In [60]:
l2

['science',
 'science',
 'teacher',
 2,
 5,
 4,
 3,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [61]:
l1

['science',
 'science',
 'teacher',
 2,
 5,
 4,
 3,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [62]:
id(l1)

2415730709312

In [50]:
id(l2)

2727148450304

In [63]:
l3=l2.copy()

In [64]:
l2

['science',
 'science',
 'teacher',
 2,
 5,
 4,
 3,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [65]:
l3

['science',
 'science',
 'teacher',
 2,
 5,
 4,
 3,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [66]:
id(l2)

2415730709312

In [67]:
id(l3)

2415739572608

In [68]:
l2.remove(2)

In [69]:
l2

['science',
 'science',
 'teacher',
 5,
 4,
 3,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [70]:
l3

['science',
 'science',
 'teacher',
 2,
 5,
 4,
 3,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [72]:
l3.pop()

'Hamid Hosen'

In [73]:
l3

['science', 'teacher', 2, 5, 4, 3, True, False, [1, 2, 4, 5]]

In [74]:
l3.pop(-2)

False

In [75]:
l3

['science', 'teacher', 2, 5, 4, 3, True, [1, 2, 4, 5]]

In [76]:
l2

['science',
 'science',
 'teacher',
 5,
 4,
 3,
 True,
 False,
 [1, 2, 4, 5],
 'Hamid Hosen']

In [77]:
l2.remove('science')

In [78]:
l2

['science', 'teacher', 5, 4, 3, True, False, [1, 2, 4, 5], 'Hamid Hosen']

In [79]:
l2.remove('science')

In [80]:
l2

['teacher', 5, 4, 3, True, False, [1, 2, 4, 5], 'Hamid Hosen']

**positive 0 -> n-1 ; negative -1 to n**

In [82]:
del l2[5]

In [83]:
l2

['teacher', 5, 4, 3, True, [1, 2, 4, 5], 'Hamid Hosen']

In [84]:
l4=[2,1,4,3,67,3,4,10,9]

In [85]:
l4.sort()

In [86]:
l4

[1, 2, 3, 3, 4, 4, 9, 10, 67]

In [87]:
l4.reverse()

In [88]:
l4

[67, 10, 9, 4, 4, 3, 3, 2, 1]

In [89]:
l4.count(4)

2

In [90]:
l4.clear()

In [91]:
l4

[]

In [96]:
l4=[2,1,4,3,67,3,4,10,9]

In [97]:
sum =0

for  i in l4:
    sum+=i
    print(sum)

2
3
7
10
77
80
84
94
103

In [98]:
sum=0
for i in l4:
    sum+=i;
print(sum)

103

## input function

In [99]:
100+20

120

In [100]:
x=20
y=40
x+y

60

In [101]:
x*y

800

In [102]:
y/x #divison

2.0

In [103]:
y%x #modulus

0

In [104]:
num1=input()
num2=input()

num1+num2

20
10

'2010'

In [105]:
num1=input()

12

In [106]:
type(num1)

str

In [107]:
num1=int(input("Enter your first number:"))
num2=int(input("Enter your second number:"))

num1+num2

Enter your first number:12
Enter your second number:23

35

In [108]:
type(num1+num2)

int

***list input***

In [1]:
list1 = []

num = int(input("Enter the number:"))

for x in range(num):
    new_element=input("Enter the name")
    list1.append(new_element)
    
    print(list1,len(list1))
    
print(list1)

Enter the number:3
Enter the nameAltaf
['Altaf'] 1
Enter the nametanvir
['Altaf', 'tanvir'] 2
Enter the namedavid
['Altaf', 'tanvir', 'david'] 3
['Altaf', 'tanvir', 'david']

In [2]:
list1

['Altaf', 'tanvir', 'david']

In [3]:
list1=[]

num = int(input("enter the number:"))

for i in range(num):
    new_element=int(input())
    list1.append(new_element)
    print(list1)

enter the number:3
2
[2]
34
[2, 34]
45
[2, 34, 45]

In [4]:
list1

[2, 34, 45]

### All about Python Tuples()

1. Ordered
2. Unchangeable
3. Allow Duplicates

In [5]:
tup1=('data science',)

In [6]:
tup1

('data science',)

In [7]:
type(tup1)

tuple

In [8]:
tup1=('data science',"machine learning","AI","deep learning")

In [9]:
tup1

('data science', 'machine learning', 'AI', 'deep learning')

In [10]:
tup1[0]=1

TypeError: 'tuple' object does not support item assignment

In [11]:
# tuple to list
tup2=list(tup1)

In [12]:
tup2

['data science', 'machine learning', 'AI', 'deep learning']

In [13]:
tup2[0]="Hamid Hosen"

In [14]:
tup2

['Hamid Hosen', 'machine learning', 'AI', 'deep learning']

In [15]:
tup1=tuple(tup2)

In [16]:
tup1

('Hamid Hosen', 'machine learning', 'AI', 'deep learning')

In [17]:
type(tup1)

tuple

In [18]:
"AI" in tup1

True

In [19]:
"AI" in tup2

True

In [20]:
10 in tup1

False

In [21]:
del tup1[1]

TypeError: 'tuple' object doesn't support item deletion

In [22]:
tup1.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [23]:
tup1

('Hamid Hosen', 'machine learning', 'AI', 'deep learning')

In [24]:
slic=tup1[1:2]

In [25]:
slic

('machine learning',)

In [26]:
tup1[0:1]

('Hamid Hosen',)

In [27]:
tup1[1:2]+tup1[0:1]+tup1[1:3]

('machine learning', 'Hamid Hosen', 'machine learning', 'AI')

## Set in python

1. Unordered
2. Unchangeable
3. Duplicates Not Allowed

In [28]:
s1={1,2,345,6}
s2={"Hamid Hosen","Azad Hosen","Azad"}

In [29]:
s1

{1, 2, 6, 345}

In [30]:
s2

{'Azad', 'Azad Hosen', 'Hamid Hosen'}

In [31]:
s1[0]=2

TypeError: 'set' object does not support item assignment

In [32]:
s1[0]

TypeError: 'set' object is not subscriptable

In [33]:
s1={1,2,345,6.5,1,2,6}

In [34]:
s1 #remove duplicate

{1, 2, 6, 6.5, 345}

In [35]:
#intersection
s1.intersection(s2)

set()

In [125]:
s2

{'Azad', 'Azad Hosen', 'Hamid Hosen'}

In [126]:
s2={1,2,345,6.5,1,2,6}

In [127]:
#intersection
s1.intersection(s2)

{1, 2, 6, 6.5, 345}

In [128]:
#union
s1.union(s2)

{1, 2, 6, 6.5, 345}

In [129]:
s1 | s2 #union

{1, 2, 6, 6.5, 345}

In [130]:
s1 & s2 #intersection

{1, 2, 6, 6.5, 345}

In [131]:
s1.add(78)

In [132]:
s1

{1, 2, 6, 6.5, 78, 345}

In [133]:
s1.remove(1)

In [134]:
s1

{2, 6, 6.5, 78, 345}

In [135]:
s1.clear()

In [136]:
s1

set()

# All About Python Dictionary

1. Ordered ( Python 3.7+ )
2. Changeable
3. Does not Allow Duplicates

In [1]:
#Creating dictionaries
dict1 = {'color': 'blue', 'shape': 'square', 'volume':40}
dict2 = {'color': 'red', 'edges': 4, 'perimeter':15}

In [2]:
dict1

{'color': 'blue', 'shape': 'square', 'volume': 40}

In [3]:
dict2

{'color': 'red', 'edges': 4, 'perimeter': 15}

In [4]:
#Creating new pairs and updating old ones
dict1['area'] = 25 #{'color': 'blue', 'shape': 'square', 'volume': 40, 'area': 25}
dict2['perimeter'] = 20 #{'color': 'red', 'edges': 4, 'perimeter': 20}

In [5]:
dict1

{'color': 'blue', 'shape': 'square', 'volume': 40, 'area': 25}

In [6]:
dict2

{'color': 'red', 'edges': 4, 'perimeter': 20}

In [7]:
#Accessing values through keys
print(dict1['shape'])

square

In [8]:
dict1.get('false_key')

In [9]:
#You can also use get, which doesn't cause an exception when the key is not found
dict1.get('false_key') #returns None
dict1.get('false_key', "key not found") #returns the custom message that you wrote

'key not found'

In [10]:
#Deleting pairs
dict1.pop('volume')

40

In [11]:
dict1

{'color': 'blue', 'shape': 'square', 'area': 25}

In [12]:
#Merging two dictionaries
dict1.update(dict2) #if a key exists in both, it takes the value of the second dict
dict1 #{'color': 'red', 'shape': 'square', 'area': 25, 'edges': 4, 'perimeter': 20}

{'color': 'red', 'shape': 'square', 'area': 25, 'edges': 4, 'perimeter': 20}

In [13]:
dict1.values()

dict_values(['red', 'square', 25, 4, 20])

In [14]:
#Getting only the values, keys or both (can be used in loops)
dict1.values() #dict_values(['red', 'square', 25, 4, 20])
dict1.keys() #dict_keys(['color', 'shape', 'area', 'edges', 'perimeter'])
dict1.items() 
#dict_items([('color', 'red'), ('shape', 'square'), ('area', 25), ('edges', 4), ('perimeter', 20)])

dict_items([('color', 'red'), ('shape', 'square'), ('area', 25), ('edges', 4), ('perimeter', 20)])

## All about Python Array[]

1. Ordered
2. Duplicate Values Allowed
3. Changeable

In [16]:
import array as arr

In [17]:
array=arr.array([1,2,3,4,5])
array

TypeError: array() argument 1 must be a unicode character, not list

In [18]:
array=arr.array('i',[1,2,3,4,5])
array

array('i', [1, 2, 3, 4, 5])

In [19]:
array=arr.array('i',[1,2.2,3,4,5])
array

TypeError: integer argument expected, got float

In [20]:
array=arr.array('d',[1,2,3.5,4,5])
array

array('d', [1.0, 2.0, 3.5, 4.0, 5.0])

In [21]:
array=arr.array('f',[1.01,2.3,3,4,5])
array

array('f', [1.0099999904632568, 2.299999952316284, 3.0, 4.0, 5.0])

In [22]:
array.insert(2,343)

In [23]:
array

array('f', [1.0099999904632568, 2.299999952316284, 343.0, 3.0, 4.0, 5.0])

In [24]:
array.count(3)

1

## All about Python Dictionary{}

In [25]:
D1 = { 'brand': "Apple", "model": "13 Pro Max", "year": 2022}

In [26]:
D1

{'brand': 'Apple', 'model': '13 Pro Max', 'year': 2022}

In [27]:
D1.keys()

dict_keys(['brand', 'model', 'year'])

In [28]:
D1.values()

dict_values(['Apple', '13 Pro Max', 2022])

In [29]:
D1["brand"]="APPO"

In [30]:
D1

{'brand': 'APPO', 'model': '13 Pro Max', 'year': 2022}

In [31]:
D1 = { 'brand': "Apple", "model": "13 Pro Max", "year": 2022,'brand': "Appo"}

In [32]:
D1

{'brand': 'Appo', 'model': '13 Pro Max', 'year': 2022}

In [33]:
D1.popitem()

('year', 2022)

In [34]:
D1

{'brand': 'Appo', 'model': '13 Pro Max'}

In [35]:
D1["Dep"]="CSE"

In [36]:
D1

{'brand': 'Appo', 'model': '13 Pro Max', 'Dep': 'CSE'}

In [37]:
list(D1.keys())

['brand', 'model', 'Dep']

In [38]:
list(D1.values())

['Appo', '13 Pro Max', 'CSE']

In [39]:
set(D1.values())

{'13 Pro Max', 'Appo', 'CSE'}

In [40]:
D1.pop('Dep')

'CSE'

In [41]:
D1

{'brand': 'Appo', 'model': '13 Pro Max'}

## All about Python Data Frame

In [43]:
import pandas as pd

In [61]:
l=['data','science','ai','ml','dl']

In [62]:
df=pd.DataFrame(l)

In [63]:
df

         0
0     data
1  science
2       ai
3       ml
4       dl

In [64]:
df=pd.DataFrame(l,columns=['dept'])

In [65]:
df

      dept
0     data
1  science
2       ai
3       ml
4       dl

In [66]:
df.shape

(5, 1)

In [67]:
row,col=df.shape

In [68]:
row

5

In [69]:
col

1

In [70]:
df1=pd.DataFrame(l,columns=['dept name'])

In [71]:
df1

  dept name
0      data
1   science
2        ai
3        ml
4        dl

In [58]:
df+df1

  dept dept name
0  NaN       NaN
1  NaN       NaN
2  NaN       NaN
3  NaN       NaN
4  NaN       NaN

In [76]:
df2=pd.concat([df,df1])

In [77]:
df2

      dept dept name
0     data       NaN
1  science       NaN
2       ai       NaN
3       ml       NaN
4       dl       NaN
0      NaN      data
1      NaN   science
2      NaN        ai
3      NaN        ml
4      NaN        dl

In [78]:
df1=pd.DataFrame(l)
df2=pd.DataFrame(l)

In [79]:
df=pd.concat([df1,df2],axis=1) # 1 means column, 0 means row

In [80]:
df

         0        0
0     data     data
1  science  science
2       ai       ai
3       ml       ml
4       dl       dl

In [81]:
df.drop([0,2])

         0        0
1  science  science
3       ml       ml
4       dl       dl

In [82]:
df

         0        0
0     data     data
1  science  science
2       ai       ai
3       ml       ml
4       dl       dl

In [83]:
df.drop([0])

         0        0
1  science  science
2       ai       ai
3       ml       ml
4       dl       dl

In [85]:
df.drop([0],axis=1,inplace=True)

In [86]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]